:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.snackContainer .snackbar {
    margin-top: 24px;
    width: fit-content;
    max-width: 404px;
    padding: 12px 16px 16px 12px;
    background-color: #151515;
    box-shadow: 0px 1px 12px rgba(18, 18, 18, 0.04),
      0px 0px 4px rgba(18, 18, 18, 0.08);
    border-radius: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.15px;
    color: #fefefe;
  }
  .svgStyle {
    fill: #fff;
    width: 15px;
    height: 15px;
  }
  .snackContainer .svgBox {
    margin-right: 1px;
    padding-top: 2px;
  }
  .snackContainer .container {
    display: flex;
  }
  .snackContainer .container-block {
    display: block;
    text-align: justify;
  }

  .snackContainer .button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.1px;
    color: #fefefe;
    padding: 0px;
    margin-left: 28px;
    padding-top: 2px;
  }
  .snackContainer .button:hover {
    background-color: #151515;
  }
  .snackContainer .button-right {
    margin-right: 0px;
    margin-left: auto;
    margin-top: 14px;
  }
  .snackContainer a {
    text-decoration: underline;
    font-weight: 600;
    color: #fff;
  }
  .snackContainer a:hover {
    text-decoration: none;
  }
  .snackContainer p {
    line-height: 22px;
    text-align: justify;
    margin:0px;
  }